@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

::-webkit-scrollbar {
    width: 2px; 
    height: 2px;
  }
  
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; 
  }

:root{
    --light:#f6f6f9;
    --primary: #1976d2;
    --light-primary: #cfe8ff;
    --grey:#eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #d32f2f;
    --warning:#f8c02d;
    --light-warning: #fff2c6;
    --success: #388e3c;
    --light-success: #bbf7d8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.bx{
    font-size: 1.7rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body.dark{
    --light: #381a1e;
    --grey: #25252c;
    --dark: #fbfbfb;
}
body{
    background: var(--grey);
    overflow-x: hidden;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
   
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar.close{
    width: 60px;
}

.sidebar .logo{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.sidebar .logo .logoName span{
    color: var(--dark);
}
.sidebar .logo .bx{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
}

.sidebar .sideMenu{
   width: 100%;
   margin-top: 48px;

}

.sidebar .sideMenu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}
.sidebar .sideMenu li.active{
    background: var(--grey);
    position: relative;
}

.sidebar .sideMenu li.active::before{
    content: "" ;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}
.sidebar .sideMenu li.active::after{
    content: "" ;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar .sideMenu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.sidebar .sideMenu li.active a {
    color: var(--success); 
}

.sidebar.close .sideMenu li a {
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .sideMenu li a .bx{

    min-width: calc(60px - ((4px + 6px)* 2));
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .sideMenu li a.logout{
    color: var(--danger);
}

.content{
    position: relative;
    background-color: red;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.sidebar.close~.content{
    width: calc(100% - 60px);
    left: 60px;
}

.content nav{
    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: fixed;
    top: 0px;
    left: 230px;
    right: 0;
    z-index: 1000;
    overflow-y: hidden;
    overflow-x: scroll;
}
.sidebar.close~.content > nav{
    left: 60px;
}


.content nav a {
    color: var(--dark);
}
.content nav .bx.bx-menu{
    cursor: pointer;
    color: var(--dark);
}

.content nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}
.content nav form .formInput{
    display: flex;
    align-self: center;
    height: 36px; 
}
.content nav form .formInput input{
    flex-grow: 1;
    padding: 0 16px;
    width: 100%;
    height: 100%;
    border: none;
    background: var(--grey);
    outline: none;
    border-radius: 36px 0 0 36px;

}
.content nav form .formInput button{
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: var(--primary);
    color: var(--light);
    font-size: 10px;
    outline: none;
    border-radius: 0px 36px 36px 0px;
    cursor: pointer;

}
.content nav .notification{

    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
}
.content nav .notification .count{
    position: absolute;
    right: -6px;
    top: -6px;
    width: 20px;
    height: 20px;
    background: var(--danger);
    border-radius: 50%;
    color: var(--light);
    border: 2px solid var(--light);
    font-weight: 700;
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content nav .profile img { 
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.content nav .theme_toggle{
    display: block;
    min-width: 50px;
    max-width: 50px;
    width: 100%;
    width: 100%;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
    border-radius: 36px;
    transition: all 0.3s ease;
}
.content nav .theme_toggle::before {
    content: "🌙";  
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    border-radius: 50%;
    background: var(--light-primary);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1em;
}

.content nav #theme_toggle:checked + .theme_toggle::before {
    content: "🌞";
    display: flex;
    align-items: center;
    justify-content: center;
    left: calc(100% - (25px - 4px) - 2px);
}

.mainContent{
    margin-top: 56px;
    background: var(--grey);
    padding: 0.5em 0.5em;
}
.mainContent .titleSection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1em;
    padding: 1em 1em;
    border-radius: 1em;
    background-color: var(--light);

}
.mainContent .titleSection h2{
    font-size: 2em;
}
.mainContent .titleSection button{
    height: 0;
    padding: 1.5em 1em;
    background-color: var(--primary);
    color: var(--light);
    border-radius: 1em;
    border: 1px solid var(--light);
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.grid{
    height: auto;
    margin-top: 0.5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap:0.5em;
}
.grid div{
    background:var(--light);
    min-height: 10em;
    border-radius: 1em;
    display: flex;
    gap: 1em;
    padding: 1em;

}
.grid article{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid article .bx{
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 2em;
}

